{
	"trailingComma": "none",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"arrowParens": "avoid",
	"jsxSingleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/layout/(.*)$",
		"^@/ui/(.*)$",
		"^@/providers/(.*)$",
		"^@/shared/(.*)$",
		"^@/assets/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
